<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.service.mybatis.mapper.AdminMenuMapper">
    <resultMap id="menuResultMap" type="admin.model.AdminMenu">
        <id column="id" property="id"></id>
        <result property="name" column="name"/>
        <result property="dateCreated" column="date_created"/>
        <result property="deleteDate" column="delete_date"/>
        <result property="isDelete" column="is_delete"/>
        <result property="lastUpdated" column="last_updated"/>
        <result property="version" column="version"/>
        <result property="code" column="code"/>
        <result property="icon" column="icon"/>
        <result property="iconLarge" column="icon_large"/>
        <result property="target" column="target"/>
        <result property="permId" column="perm_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="index" column="show_idx"/>
        <collection property="childs" column="id" fetchType="lazy" select="selectChildsById"/>
    </resultMap>
    <select id="selectChildsById" parameterType="String"
            resultType="admin.model.AdminMenu">
         select r.* from admin_menu r where r.parent_id = #{id}
    </select>

</mapper>
